.list {
    /* border: 1px solid rgba(118, 117, 117, 0.816); */
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: auto;
    gap: 10px;
    list-style: none;
}

.item {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
}
.item--red {
    background-color: red;
}
.item--yellow {
    background-color: yellow;
}
.item--green {
    background-color: cadetblue;
}
.item--orange {
    background-color: orange;
}
.item--pink {
    background-color: rgb(220, 112, 211);
}
.item--purple {
    background-color: purple;
}
.item--grey {
    background-color: grey;
}
.item--brown {
    background-color: brown;
}
.item--blue {
    background-color: blue;
}

